.header {
    position: fixed;
    top: -200px;
    width: 100%;
    z-index: 1000;
    border: 1px solid #ccc; /* можно заменить цвет на любой другой */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* мягкая тень снизу */
    background-color: #fff;
}
